*{
    margin:0;
    padding:0;
}
body{
    background-color: aqua;
    text-align: center;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
    height:70vh;
}
.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}

.box{
    background-color: #dbbfdd;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
}

#reset-btn{
    font-size: 1.25rem;
    padding: 1rem;
    background-color: #191913;
    color:#b0413e;
    border-radius: 1rem;
    border:none;
}
h1{
    color:#51033b;
}
#new-btn{
    font-size: 1.25rem;
    padding: 1rem;
    background-color: #191913;
    color:#b0413e;
    border-radius: 1rem;
    border:none;
}
.msg{
    color: #187d0b;
    font-size:5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}